*{
    margin: 0%;
    padding: 0%;
}

main{
   background-image: url(imagem.jpg);
   width: 100%;
   /*background-color: #01FBE6;*/
   
}
#interface{
    width: 100%;
    margin: 0px auto;
}
header{
    
    height: 100%;
    background-color:green;
}
div #moverBotao{
    background-color: black;
    display: flex;
    justify-content: center;
}
.xo{
    margin: 10px 10px;
    cursor: pointer;
    padding: 2px 20px;
    border-radius: 8px;
    border: 1px solid black;
}
h1{
    text-align: center;
    padding: 20px;

}
.pai{
    width: 600px;
    flex-wrap: wrap;
    display: flex;
    margin: auto;

}
.pai div{
    width: 110px;
    margin: 20px;
    border: 1px solid black;
    padding: 20px;
    height: 110px;
    background-color: white;
    /*background-color: #01FBE6;*/
    cursor: pointer;
}
.bolinha{
    background-image: url("x.png");
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}
